.git
.gitignore
.vs
.vscode
.idea
.claude
.agents
.antigravity
.github
.husky
.env
.env.*
**/.env
**/.env.*
**/bin
**/obj
**/logs
**/node_modules
**/TestResults
*.user
**/*.user
docker-compose*.yml
**/Dockerfile
